<%= form_for(@tabflower) do |f| %>
  <% if @tabflower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tabflower.errors.count, "error") %> prohibited this tabflower from being saved:</h2>

      <ul>
      <% @tabflower.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   名称：
    <%= f.text_field :fName %>
  </div>
  <div class="field">
   寓意：
    <%= f.text_field :fHanyi %>
  </div>
  <div class="field">
  价格：
    <%= f.text_field :fSPrice %>
  </div>
  <div class="field">
    编号：
    <%= f.text_field :fImg %>
  </div>
  <div class="field">
   详细：
    <%= f.text_field :fDetails %>
  </div>
  <div class="field">
   材料：
    <%= f.text_field :fCailiao %>
  </div>
  <div class="field">
   包装：
    <%= f.text_field :fBaoZ %>
  </div>
  <div class="field">
  价格：
    <%= f.text_field :fPprice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
