<!DOCTYPE html>
<html>
<head>
  <title>ProMyFlower</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="twoColFixLtHdr">
<div id="container">
  <div id="header">    
    <div class="bg" >
      <div class="divHead1"> <IMG border=0 src="/index/i2.gif"
                 width=64 height=22 /> <IMG border=0 src="/index/i3.gif"
                 width=63 height=22 /> <IMG border=0 src="/index/i4.gif"
                 width=63 height=22 /> <IMG border=0 src="/index/i5.gif"
                 width=86 height=22 /> <IMG border=0 src="/index/i6.gif"
                 width=86 height=22 /> <img border=0 src="/index/i7.gif"
                 width=86  height=22 /> <IMG border=0 src="/index/i8.gif"
                 width=90 height=22 /> </div>
      <div class="divHead2">
        <TABLE border=0 cellSpacing=0 cellPadding=0 align=left height=23>
          <TR align=middle>
            <TD vAlign=center background=/index/i13.gif width=73><A class=link href="#" >婚礼庆典</A>
            <TD vAlign=center background=/index/i13.gif width=73><A  class=link href="#" >购物指南</A></TD>
            <TD background=/index/i13.gif width=73><A class=link  href="#" >订单查询</A></TD>
            <TD background=/index/i13.gif width=73><A class=link  href="#" >节日提醒</A></TD>
            <TD background=/index/i13.gif width=73><A class=link href="#" >说话玫瑰</A></TD>
            <TD background=/index/i13.gif width=73><A class=link  href="#">自助订花</A></TD>
            <TD background=/index/i13.gif width=73><A class=link  href="#" >鲜花常识</A></TD>
            <TD background=/index/i13.gif width=73><A class=link href="#">团购服务</A></TD>
          </TR>
        </TABLE>
      </div>
      <div class="divHead3">
        <%form_tag "tabflowers/search" do %>
            <%= text_field :tabflower,:fName,:style=>"margin-top:-10px" ,:size=>4 %>       
         <%= submit_tag 'Go' %>
        <% end %>
      </div>
    </div>
    <!-- end #header -->
  </div>
  <div id="sidebar1">
    <% if @tabuser==nil then %>
    <div class="divleftLogin">
      <%form_tag "/tabusers/login"  do %>
      <div class="divleft1">
        <%= text_field :tabuser,:uName,:class=>"txt",:size=>"10" %>
        <div class="divTab"></div>
        <%= text_field :tabuser,:uPass,:class=>"txt" ,:size=>"12",:type=>"password"%>
      </div>

      <div class="divleftBtn">
        <%= submit_tag '',:class=>"Appbtn"%>
                               <a href="/tabusers/register">                                
                                 <IMG
                                border=0 src="/index/i18.gif" width=80
                                height=22></A> </div>
           <% end %>
      <div class="divleftCart"><a href="/tabflowers/checkout" class="link">查看购物车</a></div>
    </div>
    <div class="divleftShopp"> </div>
        <% else %>
    <div class="divleftLogin1">
      <div class="divleftLogin1CK"><font color="red" size="2";>您好， <%=@tabuser.uName %>:<br>&nbsp;&nbsp;您已经成功登录!
      </font><br>
     <font color="red"> 我们的宗旨是：<br>您就是我们的上帝</font>
        <% if @tabuser!=nil then %>
       <div style="margin-left:60px; padding-top:5px;"><a href="/tabusers/exit" class="link">退出</a></div>
          <% end %>
      </div>     
      <div class="divleftCart"><a href="/tabflowers/checkout" class="link">查看购物车</a></div>
    </div>
         <div class="divleftShopp"> </div>
        <% end %>
  </div>
  <div id="mainContent">
  <%= yield %>
  </div>
  <br class="clearfloat" />
  <div id="footer">
    <div class="divBottom"></div>
  </div>
  <!-- end #container -->
</div>
</body>
</html>
